:root {
  --h-color: #212121;
  --p-color: #757575;
  --accent-color: #2196f3;
  --button-background-color: #f5f4fa;
  --button-color: #212121;
  --button-hoover-portfolio-color: #f5f4fa;
  --white-accent: #ffffff;
  --another-black: #2f303a;
  --main-bgc: #e5e5e5;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--white-accent);
  color: var(--h-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.pointer {
  cursor: pointer;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  background-color: var(--white-accent);
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header__logo {
  margin-right: 93px;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-accent-hdr {
  color: var(--h-color);
}

.nav__link {
  position: relative;
  color: var(--h-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}
.current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -2px;
  background-color: var(--accent-color);
}

.contacts {
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    gap: 50px;
  }
}

.contacts__link-mail,
.contacts__link-phone {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--p-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link-mail:hover, .contacts__link-mail:focus,
.contacts__link-phone:hover,
.contacts__link-phone:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .contacts__link-mail,
.contacts__link-phone {
    padding: 32px 0px;
  }
}

@media screen and (max-width: 1200px) {
  .contacts__link-mail {
    margin-bottom: 10px;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
.contacts__link:hover .contacts__icon, .contacts__link:focus .contacts__icon {
  color: var(--accent-color);
}

.nav__item {
  display: flex;
  align-items: center;
  fill: #757575;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (max-width: 768px) {
  .menu-hidden {
    display: none;
  }
}

.mob-menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  top: 0;
  padding: 15px 10px 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.menu-open-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: #212121;
  border: none;
  margin-left: auto;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-open-btn:hover, .menu-open-btn:focus {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

.menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #212121;
  border: none;
  margin-left: auto;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-close:hover, .menu-close:focus {
  fill: var(--accent-color);
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link {
  font-family: inherit;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu__link:focus, .mob-menu__link:hover {
  color: var(--accent-color);
}
.mob-menu__link--current {
  color: var(--accent-color);
}

.mob-menu-contacts__tel {
  display: block;
  margin-bottom: 32px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-menu-contacts__mail {
  display: block;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  margin-bottom: 64px;
}

.mob-menu-social {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.mob-menu-social__item {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.mob-menu-social__item:not(:first-child)::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -10px;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
}
.mob-menu-social__item .link {
  color: currentColor;
}

.mob-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.hero {
  background-color: var(--another-black);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob-x1.jpg);
  max-width: 480px;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 118px 0px 118px 0px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob-x2.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-tabl-x1.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-tabl-x2.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0px 200px 0px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-desk-x1.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-desk-x2.jpg");
  }
}

.hero__text {
  padding: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-accent);
}
@media screen and (min-width: 480px) {
  .hero__text {
    font-size: 26px;
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__text {
    font-size: 44px;
    max-width: 360px;
    line-height: 1.36;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero__button {
  font-family: inherit;
  min-width: 200px;
  height: 50px;
  color: var(--white-accent);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  border: none;
  display: block;
}

.hero-button-text {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-accent);
}

.competences__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .competences__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .competences__item {
    width: calc((100% - 90px) / 4);
  }
}

.frame {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--button-background-color);
}

.competences__icon {
  width: 67px;
  height: 70px;
}

.top-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--h-color);
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .top-text {
    text-align: center;
  }
}

.bottom-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--p-color);
}

.zero {
  padding-top: 0;
  display: none;
}
@media screen and (min-width: 1200px) {
  .zero {
    display: block;
  }
}

.work__img {
  display: flex;
  width: calc((100% - 60px) / 3);
}

.work__item {
  position: relative;
}
.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__item > .label {
  position: absolute;
  top: 224px;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(47, 48, 58, 0.8);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--h-color);
  margin-bottom: 50px;
  padding-top: 0;
}

.bg {
  background-color: var(--button-background-color);
  text-align: center;
}

.crew__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.crew__item {
  background-color: var(--white-accent);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .crew__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .crew__item {
    width: calc((100% - 90px) / 4);
  }
}

.crew__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--h-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .crew__title {
    margin-bottom: 50px;
  }
}

.crew__atributes {
  padding: 30px 32px;
  text-align: center;
}

.crew__names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--h-color);
  margin-bottom: 10px;
}

.crew__profession {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--p-color);
  margin-bottom: 16px;
}

.crew__soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.crew__soc-item:last-child {
  margin-right: 0;
}

.crew__soc-list {
  display: flex;
  justify-content: center;
}

.crew__soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.crew__soc-link:hover, .crew__soc-link:focus {
  background-color: var(--accent-color);
}

.crew__soc-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.crew__soc-link:hover .crew__soc-icon, .crew__soc-link:focus .crew__soc-icon {
  fill: var(--white-accent);
}

.partners .container {
  width: 1170px;
  height: 184px;
}

.partners__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--h-color);
  margin-bottom: 50px;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.partners__item {
  width: 100%;
  height: 92px;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .partners__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .partners__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .partners__item {
    width: calc((100% - 150px) / 6);
  }
}
.partners__item:hover, .partners__item:focus {
  border-color: var(--accent-color);
}
.partners__item:last-child {
  margin-right: 0;
}

.partners__link {
  display: flex;
  width: 100%;
  height: 92px;
  border-radius: 4px;
  cursor: pointer;
  fill: #afb1b8;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.partners__link:hover, .partners__link:focus {
  border-color: var(--accent-color);
  border: 1px solid --accent-color;
  fill: var(--accent-color);
}

.footer {
  background-color: var(--another-black);
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.mail {
  margin-bottom: 9px;
}

.list .map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
  display: block;
  margin-top: 20px;
  margin-bottom: 9px;
}

.map-link {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.map-link:hover, .map-link:focus {
  color: var(--accent-color);
}

.footer-soc__link {
  display: block;
}

.footer-soc__item {
  width: 44px;
  height: 44px;
}

.footer-soc__list {
  display: flex;
  margin-top: 16px;
  list-style: none;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.footer-soc__link {
  width: 44px;
  height: 44px;
  display: inline-flex;
  border-radius: 50%;
  fill: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc__link:hover, .footer-soc__link:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
}

.footer-soc__icon {
  margin: 12px 0px 0px 12px;
  align-items: center;
}

.footer-soc__list {
  display: flex;
  padding: 0;
  margin-top: 0;
  list-style: none;
  align-items: center;
}

.footer-soc__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--white-accent);
  margin-bottom: 20px;
}

.footer-soc {
  display: block;
  margin-top: 60px;
}
@media (min-width: 768px) {
  .footer-soc {
    margin-top: 0px;
  }
}

.footer-flex {
  align-items: baseline;
  display: block;
  margin: 0;
  padding: 0px;
  list-style: none;
}
@media (min-width: 768px) {
  .footer-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 165px;
  }
}
@media (min-width: 1200px) {
  .footer-flex {
    display: flex;
    justify-content: center;
    text-align: left;
    gap: 70px;
  }
}

.foter-form__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--white-accent);
  margin-bottom: 20px;
}

.foter-form__input {
  display: block;
  align-items: center;
}

.foter-form__email {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--another-black);
  padding: 15px 0px 15px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(255, 255, 255, 0.6);
}
.foter-form__email:hover, .foter-form__email:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}
@media (min-width: 1200px) {
  .foter-form__email {
    width: 358px;
    margin-right: 12px;
  }
}

.foter-form__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin: 0;
  margin-top: 20px;
  padding: 8px 29px;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  min-height: 43px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foter-form__btn::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 20px;
  margin-left: 10px;
  background-image: url(../images/icon-instagram1.svg);
}
.foter-form__btn:hover, .foter-form__btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #188ce8;
}
@media (min-width: 1200px) {
  .foter-form__btn {
    margin-top: 0px;
  }
}

.foter-form {
  margin-top: 60px;
}
@media (min-width: 768px) {
  .foter-form {
    margin-top: 0px;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .foter-form {
    margin-left: 23px;
  }
}

.footer__contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contacts:hover, .footer__contacts:focus {
  color: var(--accent-color);
}

.button-list {
  display: none;
}

.button-txt {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.random {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  grid-gap: 8px;
  grid-row-gap: 15px;
}
@media screen and (min-width: 768px) {
  .random {
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .random {
    margin-bottom: 50px;
  }
}

.button-one {
  font-family: inherit;
  min-width: 73px;
  height: 38px;
  color: var(--button-color);
  background: var(--button-background-color);
  border: 1px solid var(--button-background-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-one:hover, .button-one:focus {
  color: var(--button-hoover-portfolio-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-two {
  font-family: inherit;
  min-width: 128px;
  height: 38px;
  color: var(--button-color);
  background: var(--button-background-color);
  border: 1px solid var(--button-background-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-two:hover, .button-two:focus {
  color: var(--button-hoover-portfolio-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-three {
  font-family: inherit;
  min-width: 145px;
  height: 38px;
  color: var(--button-color);
  background: var(--button-background-color);
  border: 1px solid var(--button-background-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-three:hover, .button-three:focus {
  color: var(--button-hoover-portfolio-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-four {
  font-family: inherit;
  min-width: 103px;
  height: 38px;
  color: var(--button-color);
  background: var(--button-background-color);
  border: 1px solid var(--button-background-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-four:hover, .button-four:focus {
  color: var(--button-hoover-portfolio-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-five {
  font-family: inherit;
  min-width: 130px;
  height: 38px;
  color: var(--button-color);
  background: var(--button-background-color);
  border: 1px solid var(--button-background-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-five:hover, .button-five:focus {
  color: var(--button-hoover-portfolio-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects .container {
  background-color: var(--white-accent);
}

.card__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .card__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .card__item {
    width: calc((100% - 60px) / 3);
  }
}

.card__poster {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.card {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card:hover, .card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.card__img {
  position: relative;
  overflow: hidden;
}

.card__layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__item:hover .card__layer {
  transform: translateY(0);
}

.card__text {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  color: var(--white-accent);
}

.card__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--h-color);
  margin-bottom: 4px;
}

.card__sphere {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--p-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background: var(--white-accent);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 8px;
  top: 8px;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-accent);
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.modal-title {
  text-align: center;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--h-color);
}

.modal-item {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}

.modal-input {
  width: 100%;
  max-height: 40px;
  margin: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 42px;
  font-size: 12px;
  line-height: 1.17;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover, .modal-input:focus {
  border-color: var(--accent-color);
}

.modal-label {
  font-size: 12px;
  color: var(--p-color);
  margin-bottom: 4px;
  display: block;
}

.input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.modal-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover + .modal-icon, .modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-text {
  width: 100%;
  height: 120px;
  margin: 0;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text:hover, .modal-text:focus {
  border-color: var(--accent-color);
}

.checkbox-text {
  color: var(--p-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-left: 14px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .checkbox-text {
    font-size: 14px;
    margin-left: 14px;
  }
}

.checkbox-link {
  color: var(--accent-color);
}

.input-check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.icon-check {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  vertical-align: middle;
}
.input-check:checked + .icon-check {
  background-image: url(../images/frame-tag.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--accent-color);
  background-origin: border-box;
  border-color: var(--accent-color);
}

.main-modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  color: var(--white-accent);
  border-radius: 4px;
  border: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.88;
  margin: 30px auto 0px auto;
  box-shadow: none;
}
.main-modal-btn:hover, .main-modal-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}/*# sourceMappingURL=main.css.map */