.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background: var(--white-accent);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%);
  }
  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}

.modal-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 8px;
  top: 8px;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-accent);
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.modal-title {
  text-align: center;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--h-color);
}

.modal-item {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}

.modal-input {
  width: 100%;
  max-height: 40px;
  margin: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 42px;
  font-size: 12px;
  line-height: 1.17;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.modal-label {
  font-size: 12px;
  color: var(--p-color);
  margin-bottom: 4px;
  display: block;
}

.input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.modal-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal-input:hover + &,
  .modal-input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-text {
  width: 100%;
  height: 120px;
  margin: 0;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.checkbox-text {
  color: var(--p-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-left: 14px;
  cursor: pointer;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    margin-left: 14px;
  }
}

.checkbox-link {
  color: var(--accent-color);
}

.input-check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.icon-check {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  vertical-align: middle;
  .input-check:checked + & {
    background-image: url(../images/frame-tag.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--accent-color);
    background-origin: border-box;
    border-color: var(--accent-color);
  }
}

.main-modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  color: var(--white-accent);
  border-radius: 4px;
  border: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.88;
  margin: 30px auto 0px auto;
  box-shadow: none;
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
