:root {
  --h-color: #212121;
  --p-color: #757575;
  --accent-color: #2196f3;
  --button-background-color: #f5f4fa;
  --button-color: #212121;
  --button-hoover-portfolio-color: #f5f4fa;
  --white-accent: #ffffff;
  --another-black: #2f303a;
  --main-bgc: #e5e5e5;
}
